<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Discover IP</title>
</head>
<body>
<div class="form">
    <h2>Scan by network</h2>
    <form method="get">
        <input type="text" name="network" placeholder="Network" value="{{ network|default_if_none:"" }}">
        <button type="submit">Scan!</button>
    </form>
</div>

<div class="form">
    <h2>Scan by range</h2>
    <form method="get">
        <input type="text" name="start_ip" placeholder="Start IP" value="{{ start_ip|default_if_none:"" }}">
        <input type="text" name="end_ip" placeholder="End IP" value="{{ end_ip|default_if_none:"" }}">
        <button type="submit">Scan!</button>
    </form>
</div>

<div class="result">
    {% if result %}
        <table>
            <thead>
            <tr>
                <th>IP Address</th>
                <th>Alive</th>
            </tr>
            </thead>
            <tbody>
            {% for ip, isalive in result.items %}
                <tr>
                    <td>{{ ip }}</td>
                    <td>{{ isalive }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        No host
    {% endif %}
</div>
</body>
</html>